version: 2.1

commands:
  setup_steps:
    parameters:
      platform:
        type: string
    steps:
      - checkout
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "get_deps.sh" }}
          # If no exact match is found will get dependencies from source
      - run:
          name: Install dependencies
          command: |
            ./opt/readies/bin/getpy3
            BREW_NO_UPDATE=1 ./opt/system-setup.py
            # git clone git://github.com/antirez/redis.git --branch 6.0.1; (cd redis; make malloc=libc -j $(nproc); make install); redis-server --version
            ./get_deps.sh cpu
      - save_cache:
          paths:
            - deps
          key: build-dependencies-{{ checksum "get_deps.sh" }}
      - run:
          name: Set up workspace
          command: |
            mkdir -p ~/workspace
            chown `whoami` ~/workspace

  test_steps:
    parameters:
      platform:
        type: string
    steps:
      - checkout
      - run:
          name: Build
          command: make -C opt all SHOW=1
      - run:
          name: Test
          command: |
            mkdir -p ~/workspace/tests
            make -C opt test SHOW=1
          no_output_timeout: 20m
      - run:
          name: Package
          command: make -C opt pack BRANCH="${CIRCLE_BRANCH//[^A-Za-z0-9._-]/_}" INTO=~/workspace/packages SHOW=1
      - persist_to_workspace:
          root: ~/workspace
          paths:
            - 'packages/release/*.zip'
            - 'packages/release/*.tgz'
            - 'packages/branch/*.zip'
            - 'packages/branch/*.tgz'
      - store_artifacts:
          path: test/logs

  deploy:
    parameters:
      from:
        type: string
    steps:
      - run:
          name: Deploy to S3
          command: |
            aws s3 cp <<parameters.from>>/ s3://redismodules/$PACKAGE_NAME/ --acl public-read --recursive --exclude "*" --include "*.zip" --include "*.tgz"

jobs:
  build:
    docker:
      - image: redisfab/rmbuilder:6.0.1-x64-buster
    steps:
      - setup_steps:
          platform: debian
      - test_steps:
          platform: debian

  build-xenial:
    docker:
      - image: redisfab/rmbuilder:6.0.1-x64-xenial
    steps:
      - setup_steps:
          platform: debian
      - test_steps:
          platform: debian
  
  build-centos7:
    docker:
      - image: redisfab/rmbuilder:6.0.1-x64-centos7
    steps:
      - setup_steps:
          platform: centos7
      - test_steps:
          platform: centos7

  coverage:
    docker:
      - image: redisfab/rmbuilder:6.0.1-x64-buster
    steps:
      - checkout
      - restore_cache:
          keys:
          - build-dependencies-{{ checksum "get_deps.sh" }}
          # If no exact match is found will get dependencies from source
      - run:
          name: Install dependencies
          command: |
            ./opt/readies/bin/getpy3
            ./opt/system-setup.py
            # git clone git://github.com/antirez/redis.git --branch 6.0.1; cd redis; make malloc=libc -j $(nproc); make install; redis-server --version
            ./get_deps.sh cpu
      - run:
          name: Set up workspace
          command: |
            mkdir -p ~/workspace
            chown `whoami` ~/workspace
      - run:
          name: Build for coverage
          command: |
            make -C opt all COV=1 SHOW=1
      - run:
          name: Test with coverage
          command: |
            make -C opt test SHOW=1 COV=1
            make -C opt cov-upload
          no_output_timeout: 20m

  build-macos:
    macos:
      xcode: 11.1.0
    steps:
      - run:
          name: Fix macOS Python installation
          command: |
            brew reinstall -f python2
      - setup_steps:
          platform: macosx
      - test_steps:
          platform: macosx

  build-multiarch-docker:
    machine:
      enabled: true
      image: ubuntu-1604:201903-01
    steps:
      - checkout
      - run:
          name: Checkout LFS
          command: |
            curl -s https://packagecloud.io/install/repositories/github/git-lfs/script.deb.sh | sudo bash
            sudo apt-get install -y git-lfs
            git lfs install
            git lfs pull
      - run:
          name: Setup Docker client experimental features
          command: |
            sudo ./opt/readies/bin/getdocker --just-enable-exp
            docker version
      - run:
          name: Build
          command: |
            sudo docker login -u redisfab -p $DOCKER_REDISFAB_PWD
            make -C opt/build/docker build
            sudo make -C opt/build/docker publish

  build-gpu:
    machine:
      enabled: true
      docker_layer_caching: true
      resource_class: gpu.nvidia.small
      image: ubuntu-1604-cuda-10.1:201909-23
    steps:
      - checkout
      - run:
          name: Build
          command: |
            docker build -f Dockerfile.gpu-test --no-cache -t redisai-gpu:latest-x64-bionic-test .
      - run:
          name: Test
          command: |
            mkdir -p ~/workspace/tests
            docker run --gpus all -v $HOME/workspace/tests:/build/test/logs -it --rm redisai-gpu:latest-x64-bionic-test
          no_output_timeout: 30m
      - store_artifacts:
          path: ~/workspace/tests

  deploy_package:
    parameters:
      package:
        type: string
    docker:
      - image: redisfab/rmbuilder:6.0.1-x64-buster
    steps:
      - attach_workspace:
          at: ~/workspace
      - deploy:
          from: ~/workspace/packages/<<parameters.package>>
      - store_artifacts:
          path: ~/workspace/packages/<<parameters.package>>

workflows:
  version: 2
  build_and_package:
    jobs:
      - build:
          filters:
            tags:
              only: /.*/
      - build-xenial:
          filters:
            tags:
              only: /.*/
      - build-centos7:
          filters:
            tags:
              only: /.*/
      - coverage:
          filters:
            branches:
              only: /.*/
            tags:
              only: /.*/
      - build-gpu:
          filters:
            tags:
              only: /.*/
      - deploy_package:
          name: deploy_branch
          package: branch
          requires:
            - build
            - build-centos7
            - build-xenial
          filters:
            branches:
              only: master
      - deploy_package:
          name: deploy_release
          package: release
          requires:
            - build
            - build-centos7
            - build-xenial
          filters:
            branches:
              ignore: /.*/
            tags:
              only: '/^v[0-9].*/'